# NEXT_PUBLIC_SUPABASE_URL=https://jjkxgjguxmchitntmwsu.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impqa3hnamd1eG1jaGl0bnRtd3N1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEyODU2NzUsImV4cCI6MjA3Njg2MTY3NX0.9-c9U3fDdsXDw2_kxw5tJiom7zXHLlNLg9ZymtMvPvg
NEXT_PUBLIC_SITE_URL=http://localhost:3333
NEXT_PUBLIC_API_URL=http://localhost:8888

GOOGLE_OAUTH_CALLBACK_URI=http://localhost:8888/oauth2/callback/google
FRONTEND_OAUTH_REDIRECT_URI=http://localhost:3333/oauth2/redirect
